<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Смена пароля</title>
  <link rel="stylesheet" href="/css/account.css">
</head>
<script>
  function togglePassword(id) {
    const input = document.getElementById(id);
    input.type = input.type === "password" ? "text" : "password";
  }
</script>

<body>

<div class="page-wrapper">

  <!-- ===== ШАПКА ===== -->
  <header>
    <a href="/" class="logo">Рука помощи</a>

    <nav>
      <a href="/not-secured/help">Нуждающиеся</a>
      <a href="/not-secured/volunteer">Волонтёры</a>
      <a href="/not-secured/benefit">Льготы</a>
    </nav>

    <a href="/api/v1/user/account" class="account-btn">Аккаунт</a>
  </header>

  <!-- ===== СТРАНИЦА СМЕНЫ ПАРОЛЯ ===== -->
  <div class="account-page">
    <div class="account-info">

      <h2>Смена пароля</h2>

      <form action="/api/v1/user/account/edit/password" method="post" class="form-card change-password-form">

        <div class="form-info">

          <label class="form-field">
            Старый пароль
            <div class="password-wrapper">
              <input type="password"
                     name="oldPassword"
                     id="oldPassword"
                     required>
              <span class="toggle-password" onclick="togglePassword('oldPassword')">
      👁
    </span>
            </div>
          </label>

          <label class="form-field">
            Новый пароль
            <div class="password-wrapper">
              <input type="password"
                     name="newPassword"
                     id="newPassword"
                     required>
              <span class="toggle-password" onclick="togglePassword('newPassword')">
      👁
    </span>
            </div>
          </label>

        </div>

        <div class="form-info">
        <div class="form-actions">
          <button type="submit" class="btn-aEdit">
            Сменить пароль
          </button>
        </div>

        <!-- ===== ОШИБКА ===== -->
        <div th:if="${errorMessage != null}" class="error-message">
          <span th:text="${errorMessage}"></span>
        </div>
        </div>

      </form>

    </div>
  </div>

</div>

<!-- ===== ФУТЕР ===== -->
<footer>
  <div class="footer-content">
    <div class="footer-links">
      <a href="/api/v1/user/account">Аккаунт</a>
      <a href="/not-secured/login">Войти</a>
      <a href="/not-secured/registration">Зарегистрироваться</a>
    </div>

    <div class="footer-links">
      <a href="/api/v1/volunteer/form">Предложить помощь</a>
      <a href="/api/v1/help/form">Запросить помощь</a>
    </div>

    <div class="footer-links">
      <a href="/contacts">Контакты</a>
    </div>
  </div>
</footer>

</body>
</html>
