<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

<div class="container-login">

    <h1>Восстановление пароля</h1>

    <div th:if="${errorMessage != null}" class="error-message">
        <span th:text="${errorMessage}"></span>
    </div>

    <form method="post" action="/not-secured/v1/login/forgot">

        <input type="email"
               name="email"
               placeholder="Введите email"
               required>

        <button type="submit" class="btn">
            Отправить код
        </button>

    </form>

    <p>
        <a href="/not-secured/login">← Назад ко входу</a>
    </p>

</div>

</body>
</html>