<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пароль</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

<div class="container-login">

    <h1>Создать новый пароль</h1>

    <!-- ===== ошибка ===== -->
    <div th:if="${errorMessage != null}" class="error-message">
        <span th:text="${errorMessage}"></span>
    </div>

    <form method="post" action="/not-secured/v1/login/new">

        <input type="hidden" name="email" th:value="${email}">

        <!-- пароль -->
        <div class="password-wrapper">
            <input type="password"
                   id="password"
                   name="password"
                   placeholder="Новый пароль"
                   required>

            <span id="togglePassword">👁️</span>
        </div>

        <button type="submit" class="btn">
            Сохранить пароль
        </button>

    </form>

    <p>
        <a href="/not-secured/login">← Вернуться ко входу</a>
    </p>

</div>


<script>

    const passwordInput = document.getElementById("password");
    const togglePassword = document.getElementById("togglePassword");

    togglePassword.addEventListener("click", () => {

        const type = passwordInput.getAttribute("type") === "password"
            ? "text"
            : "password";

        passwordInput.setAttribute("type", type);

    });

</script>

</body>
</html>