<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход и регистрация</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Добро пожаловать!</h1>
    <div class="buttons">
        <a href="/not-secured/login" class="btn">Войти</a>
        <a href="/not-secured/registration" class="btn register">Зарегистрироваться</a>
        <a href="/api/v1/user/me" class="btn account">Аккаунт</a>
    </div>
</div>
</body>
</html>