<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="/css/login.css">
    <style>
        /* Здесь могут быть стили, если нужно */
    </style>
</head>
<body>
<div class="container-login">
    <h1>Вход</h1>
    <!-- ===== ОШИБКА ===== -->
    <div th:if="${param.error}" class="error-message">
        Неверный логин или пароль
    </div>
    <form id="loginForm" action="/not-secured/v1/login" method="post">
        <!-- Поле для ввода Email -->
        <div id="emailField" class="active">
            <input type="email" name="username" placeholder="Введите Email" required>
        </div>

        <!-- Поле для ввода пароля -->
        <div class="password-wrapper">
            <input type="password" id="password" name="password" placeholder="Пароль" required style="padding-right: 30px;">
            <!-- глазик справа -->
            <span id="togglePassword">👁️</span>
        </div>

        <script>
            const passwordInput = document.getElementById("password");
            const togglePassword = document.getElementById("togglePassword");

            togglePassword.addEventListener("click", () => {
                const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
                passwordInput.setAttribute("type", type);
            });
        </script>

        <button type="submit" class="btn">Войти</button>
    </form>
    <p><a href="/not-secured/v1/login/forgot">Восстановить пароль</a></p>
    <p>Еще нет аккаунта? <a href="/not-secured/registration">Зарегистрироваться</a></p>
</div>

</body>
</html>
